/*
Main Site CSS
 */

body {}

nav {
	
}

nav ul {
	text-align: center;
	margin: 0 auto;
	background: #DFDFDF;
	height: 60px;
	width: 100%;
	line-height: 60px;
	display: inline-block;
}

nav ul li {
	list-style: none;
	float: left;
	text-align: center;
}

nav ul li a {
	text-decoration: none !important;
	text-transform: uppercase;
	display: block;
	padding: 0px 15px;

}